.jl_m_center .jl_m_center_w {
    height: 424px;
}
.jl_mg_wrapper .jl_mg_sm {
    margin-bottom: 13px;
}
.notification-container--top-right {
    right: 20px;
    top: 134px !important;
}

.mdtext{
    margin-top: 5px;
    margin-bottom: -3px;
    margin-left: 5px;
}