.cursorpointer{
    cursor: pointer;
}


.jl_m_center .jl_m_center_w {
    height: 424px;
}
.jl_mg_wrapper .jl_mg_sm {
    margin-bottom: 13px;
}
.notification-container--top-right {
    right: 20px;
    top: 134px !important;
}

.mdtext{
    margin-top: 5px;
    margin-bottom: -3px;
    margin-left: 5px;
}

.jlm_w {
    height: 24px !important;
}


html, 
body {
    height: 100%;
}

.ucomment{
    &_img{
        width: 50px;
    }
    &_head{
        text-transform: none !important;

        position: absolute;
        margin-top: 6px;
        
        &_time{
            font-size: 12px;
    font-weight: 100;
        }
    }

    &_headsub{
        text-transform: none !important;
        font-size: 13px;
        font-weight: 300;
        position: absolute;
        margin-top: -23px;
        margin-left: 60px;
    }
    
    &_para{
        text-transform: none !important;
        margin-top: -23px;
        padding: 0px 17px;
    }
}

.dbox1{
    & p{
        line-height: 9px;
        font-size: 19px;
    }
}

.nav-link {
    font-size: 17px;
}
.card {
    background-color: transparent !important;
    border: 1px solid #00000040;
}

.activesidenav{
    color: #f75454 !important;
    font-weight: 800;
}

.resendbutton{
    background-color: #007bff;
    color: white;
    padding: 0px 34px;
    font-size: 16px;
}



// ***** DISQUS ***** //
.comment-policy {
    display: none i !important;
}
// ***** DISQUS ***** //



// ***** BLOG DETAILS STICKEY TOP ***** //
.stkytop{
    position: sticky;
    top: 67px;
    background-color: white !important;
    color: black !important;
    padding: 17px 0px;
    z-index: 999;
    transition: all .2s ease 0s;
}



.stkytopnight{
    position: sticky;
    top: 67px;
    background-color: #1a1a1a !important;
    color: white !important;
    padding: 17px 0px;
    z-index: 999;
    transition: all .2s ease 0s;

}
#content_main, #wrapper_masonry {
    padding-top: 17px;
}
// ***** BLOG DETAILS STICKEY TOP ***** //



// **** FOOTERBOX **** // 


#bottom-box {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 420px;
    z-index: 11;
}

#bottom-box.form {
    font-size: 16px;
    // font-weight: 500;
}
#bottom-box.form .step-1 {
    color: #fff;
    background: rgb(25, 118, 210);
    line-height: 1em;
    padding: 16px 24px;
}
#bottom-box.form .step-1 .logo {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 50%;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#bottom-box.form .step {
    padding: 13px 23px !important;
    border-radius: 8px;
    position: relative;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-gap: 14px;
    align-items: center;
    margin-bottom: 45px;
}
#bottom-box.form .step-1 .q {
    margin-bottom: 0px;
    color: white;
    // font-weight: 800 !important;
}
#bottom-box.form .step-1 .a {
    display: grid;
    grid-template-columns: minmax(-webkit-min-content,-webkit-max-content) minmax(-webkit-min-content,-webkit-max-content);
    grid-template-columns: minmax(min-content,max-content) minmax(min-content,max-content);
    grid-gap: 16px;
    color: white;
    // font-weight: 800 !important;
}

.textftr{
    margin-bottom: -20px;
}

.boxwhte2{
    margin-top: -24px;
}
.boxforms{
    font-size: 14px !important;
    padding: 0px 10px !important;
}

.footercancel{
    background-color: #1976d2;
    border-radius: 100px;
    padding: 0px 7px;
    position: absolute;
    margin-top: -30px;
    right: 2px;
    color: white;
    font-weight: 400;
}



// **** FOOTERBOX **** // 