.jl_m_center .jl_m_center_w {
    height: 424px;
}
.jl_mg_wrapper .jl_mg_sm {
    margin-bottom: 13px;
}
.notification-container--top-right {
    right: 20px;
    top: 134px !important;
}

.mdtext{
    margin-top: 5px;
    margin-bottom: -3px;
    margin-left: 5px;
}

// .myvh{
//     height: 73.2vh;
// }


html, 
body {
    height: 100%;
}

.ucomment{
    &_img{
        width: 50px;
    }
    &_head{
        text-transform: none !important;

        position: absolute;
        margin-top: 6px;
        
        &_time{
            font-size: 12px;
    font-weight: 100;
        }
    }

    &_headsub{
        text-transform: none !important;
        font-size: 13px;
        font-weight: 300;
        position: absolute;
        margin-top: -23px;
        margin-left: 60px;
    }
    
    &_para{
        text-transform: none !important;
        margin-top: -23px;
        padding: 0px 17px;
    }
}

.dbox1{
    & p{
        line-height: 9px;
        font-size: 19px;
    }
}

.nav-link {
    font-size: 17px;
}
.card {
    background-color: transparent !important;
    border: 1px solid #00000040;
}

.activesidenav{
    color: #f75454 !important;
    font-weight: 800;
}

.resendbutton{
    background-color: #007bff;
    color: white;
    padding: 0px 34px;
    font-size: 16px;
}



// ***** DISQUS ***** //
.comment-policy {
    display: none i !important;
}
// ***** DISQUS ***** //
